<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/css/styles.css">  
    <link rel="stylesheet" href="/css/forms.css">  
    <%- include('./partials/navbar.ejs', { header: 'Your Header Value' }) %>
    <h1>Edit Profile</h1>
</head>
<body>
    <%- include('./partials/profilePhoto.ejs')%>

    <!-- Status Form -->
    <form action="/editProfile/updateStatus" method="POST">
        <%- include('./partials/status.ejs')%>
        <button type="submit">Update Status</button>
    </form>

    <!-- Basic Info Form -->
    <form action="/editProfile/updateBasicInfo" method="POST">
        <%- include('./partials/basicInfoInputs.ejs')%>
        <button type="submit">Update Basic Info</button>
    </form>

    <!-- Contact Info Form -->
    <form action="/editProfile/updateContactInfo" method="POST">
        <%- include('./partials/contactInfoInputs.ejs')%>
        <button type="submit">Update Contact Info</button>
    </form>

    <!-- Education Info Form -->
    <form action="/editProfile/updateEducationInfo" method="POST">
        <%- include('./partials/educationInfoInputs.ejs')%>
        <button type="submit">Update Education Info</button>
    </form>

    <!-- Account Info Form -->
    <form action="/editProfile/updateAccountInfo" method="POST">
        <%- include('./partials/accountInfoInputs.ejs')%>
        <button type="submit">Update Account Info</button>
    </form>

    <!-- Blog Post Form -->
    <form action="/blogPost/" method="POST">
        <%- include('./partials/blogInputs.ejs')%>
        <button type="submit">Submit Blog Post</button>
    </form>

    <a href="/">Go Back</a>
   
</body>
</html>
