<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/forms.css">
    <%- include('./partials/navbar.ejs', { header: 'Your Header Value' }) %>
    <h1>Home</h1>  
</head>
<body>
 
    <form action="/blogPost/" method="POST">
        <%- include('./partials/profilePhoto.ejs')%>
        <%- include('./partials/status.ejs')%>

   <%- include('./partials/profileInputs.ejs')%>
   <%- include('./partials/blogInputs.ejs')%>

    </form>
    <a href="/">Go Back</a>

    
  
</body>
</html>
